* {
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 235, 235);
}

body, .main-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: .3s;
}

.main-container {
    height: 600px;
    width: 500px;
}

.board {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);
}

.dog {
    margin-bottom: 10px;
    width: 50px;
    cursor: pointer;
    transition: .3s;
}

.info-container {
    display: flex;
    padding: 5px 5px;
    width: 31vw;
    text-align: left;
    margin-bottom: 1%;
    background-color: gray;
}

.smiley {
    font-size: 20px;
    border: 2px solid black;
    padding: 2px;
    margin: auto;
    width: auto;
    cursor: pointer;
}

.lives-container, .hints-container {
    text-align: center;
    font-size: 20px;
    width: 5em;
    height: 1.5em;
}

.hint {
    cursor: pointer;
    margin: 0 2px;
    padding: 2px;
    border-radius: 5px;
}

#slider {
    width: 70px;
}

.square {
    padding: 2px;
    text-align: center;
    width: 4vw;
    background-color: rgb(255 214 121);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.square + .go {
    width: 4vw;
}

.cell {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    width: 1.7em;
    height: 1.7em;
    text-align: center;
    background-color: rgb(105, 105, 105);
    border: 2px solid black;
    transition: .1s;
}

.hinted {
    background-color: yellow !important;
}

.mega {
    background-color: orange !important;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.red {
    color: red;
}

.darkblue {
    color: darkblue;
}

.darkred {
    color: darkred;
}

.darkkhaki {
    color: darkkhaki;
}

.darkorange {
    color: darkorange;
}

.darkmagneta {
    color: darkmagenta;
}

.clicked {
    box-shadow: inset 0px 0px 3px 1px rgb(255, 255, 255);
    background-color: rgb(149, 147, 147);
}

.mine {
    background-color: red;
}

.undo {
    position: absolute;
    transform: translate(500%, -650%);
    font-size: 25px;
}

.dark-slider {
    position: relative;
    border-radius: 50px;
    background-color: rgb(105, 105, 105);
    width: 90px;
    height: 40px;
    cursor: pointer;
}

.circle {
    position: absolute;
    top: 5px;
    left: 3px;
    border-radius: 50%;
    background-color: rgb(235, 235, 235);
    width: 30px;
    height: 30px;
    transition: .3s;
}

.cell:hover {
    background-color: gray;
}

.smiley:hover {
    box-shadow: inset 0px 0px 5px 0px rgba(243, 243, 243, 0.6);
}

.hint:hover {
    box-shadow: inset 0px 0px 5px 0px rgb(255, 255, 0);
    border-radius: 5px;
}

.square:hover {
    opacity: 0.8;
}