* {
    box-sizing: border-box;
}

body, .main-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-container {
    height: 600px;
    width: 500px;
}

.board {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);
}

.info-container {
    display: flex;
    padding: 5px 0px;
    width: 31vw;
    text-align: left;
    margin-bottom: 1%;
    background-color: gray;
}

.smiley {
    font-size: 20px;
    border: 2px solid black;
    padding: 2px;
    margin: auto;
    width: auto;
    cursor: pointer;
}

.lives-container, .hints-container {
    text-align: center;
    font-size: 20px;
    width: 5em;
    height: 1.5em;
}

.hint {
    cursor: pointer;
    margin: 0 2px;
    padding: 2px;;
}

.cell .hinted {
    background-color: aliceblue;
}

.used {
    background-color: yellow;
}

.cell {
    font-size: 18px;
    width: 1.7em;
    height: 1.7em;
    text-align: center;
    background-color: rgb(105, 105, 105);
    border: 2px solid black;
}

.blue {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
}

.green {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: green;
}

.red {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}

.darkblue {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkblue;
}

.darkred {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkred;
}

.clicked {
    box-shadow: inset 0px 0px 3px 1px rgb(255, 255, 255);
    background-color: rgb(149, 147, 147);
}

.mine {
    background-color: red;
}